<div style="margin-bottom: -35px;" class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
        <i (click)="no()" class="material-icons"
            style="position: relative; top: -17px; font-size: 30px; left: 55px; cursor: pointer; ">
            close
        </i>
    </div>
</div>
<h1 mat-dialog-title>Update Task</h1>
<div mat-dialog-content>
    <input class="form-control" type="text" matInput placeholder="Edit Task" aria-label="Edit Task"
        [(ngModel)]="itemText">
    <b>Description:</b>
    <textarea name="description" class="form-control" [(ngModel)]="desc" style="border:0; padding:0; resize: none;"
        placeholder="Description" rows="3"></textarea>
</div>
<div mat-dialog-actions>
    <button mat-button class="btn btn-danger" (click)="ok()" style="margin-right:10px;">Save</button>
    <button class="btn" mat-button (click)="no()" style="background-color:grey;color:white;">Cancel</button>
</div>