<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Angular Todo List App</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <form style="width: 100%;">
        <div class="col-md-12 text-center">
          <div class="form-group">
            <h1>To-Do <small>List</small></h1>
            <div class="row">
              <div class="col-md-12">
                <div class="input-group md-form formm form-2 pl-0">
                  <input class="form-control my-0 py-1 red-border" [(ngModel)]="input" name="input" type="text"
                    placeholder="My next task" aria-label="Task">
                  <button (click)="addItem()" type="submit" style="display: inline">
                    <i class="material-icons" style="cursor: pointer;">add_circle_outline</i>
                  </button>
                </div>
                <span style="color: red; display: inline-block;"> {{error ? error : ''}}</span>
              </div>
            </div>
          </div>
          <div *ngFor="let item of todoitems" class="row tableRow">
            <div class="col-md-10 text-left">
              {{item.item}}
            </div>
            <div class="col-md-2 text-right">
              <i class="material-icons" (click)="removeItem(item)" style="cursor: pointer; ">delete</i>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>

</html>